#links-ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: var(--medium-margin) 0 var(--medium-margin) 0; 
}

.internal-links {
  display: flex;
}

.external-links {
  display: flex;
}

ul {
  padding: 0;
}

#links-ul > .external-links > * {
  transition: 400ms ease;
  margin-left: var(--big-margin);
}

#links-ul > .internal-links > * {
  margin-right: var(--big-margin);
  transition: 400ms ease;
}

#links-ul > .internal-links > h4 {
  transition: ease 400ms;
}

a:link, a:visited    { 
  color: var(--darkgrey); text-decoration: none; 
}

#links-ul > .internal-links > *:hover {
  color: var(--primary); 
  text-decoration: none; 

  transition: ease 400ms;
} 

@media (max-width: 576px) {
  .backdrop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    top: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(
    to bottom,
    var(--white)
    hsl(0deg 0% 0%) 0%,
    transparent 50%
    );
    backdrop-filter: blur(32px);
    mask-image: linear-gradient(
    to bottom,
    );
    pointer-events: none;
  }
}

.backdrop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  top: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
  to bottom,
  var(--white)
  hsl(0deg 0% 0%) 0%,
  transparent 50%
  );
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(
  to bottom,
  );
  pointer-events: none;
}

