<header>
  <div class="backdrop"></div>
  <ul id="links-ul">
    <div class="internal-links">
      <h3><a href="/" id="home-link" data-link>Home</a></h3>
      <h3><a href="/projects" id="project-link" data-link>Projects</a></h3>
    </div>
    <div class="external-links">
      <h3>
        <a class="title-github-link" href="/FornelliCV.pdf" download>CV</a>
      </h3>
      <h3>
        <a class="title-github-link" href="https://github.com/ddavidefornelli/" target="_blank" rel="noopener noreferrer">GitHub</a>
      </h3>
    </div>
  </ul>
</header>
