<header>
  <div class="backdrop"></div>
  <ul id="links-ul">
    <div class="internal-links">
      <li><h3><a href="/" id="home-link" data-link>HOME</a></h3></li>
      <li><h3><a href="/projects" id="project-link" data-link>PROJECTS</a></h3></li>
    </div>
    <div class="external-links">
    <h3><a class="title-github-link" href="https://github.com/ddavidefornelli/" target="_blank" rel="noopener noreferrer">CV</a></h3>
    <h3><li><a class="title-github-link" href="https://github.com/ddavidefornelli/" target="_blank" rel="noopener noreferrer">GITHUB</a></li></h3>
    </div>
  </ul>
</header>
