@font-face {
  font-family: 'jetbrains-regular';
  src: url('/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jetbrains-medium';
  src: url('/fonts/webfonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jetbrains-bold';
  src: url('/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --darkgray: #A4A6A8;
  --lightgray: #4B4B4B;
  --white: #FFFFFF;
  --primary: #FF5500;
  --black: #1a1a1a;

  --small-margin: 8px;
  --medium-margin: 16px;
  --medium-big-margin: 24px;
  --big-margin: 32px;

  font-family: 'jetbrains-regular';
  font-weight: 300;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}


@media (max-width: 576px) {

  h1 { font-size: 1.8rem; }

  h2 { font-size: 1.3rem; }

  h3 { font-size: 1rem; }

}

body {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);

}

.wrapper {
  max-width: 40rem;
  width: 100%;
  
  padding: 0 16px 16px 16px;
}

custom-header {
  max-width: 40rem;
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;
  margin-top: var(--medium-margin);
}
