@font-face {
  font-family: 'jetbrains-regular'; 
  src: url('/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'jetbrains-medium'; 
  src: url('/fonts/webfonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'jetbrains-bold'; 
  src: url('/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

:root {
  --darkgray: #4B4B4B;
  --white: #EAEAEA;
  --primary: #0087D1;
  --black: #000000;
  --lightgray: #A4A6A8;

  font-family: 'jetbrains-regular';
}

body {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

}

.wrapper {
  max-width: 40rem;
  width: 100%;
  
  padding: 8px;
}


custom-header {
  position: sticky;
  top: 0;
}
