project-project > h1 {
  background-color: blue;
}

.project-project-wrapper {
  transition: ease 200ms;
}

.title > a {
  transition: ease 200ms;
  color: var(--lightgray);
}

.title > a:hover {
  transition: ease 200ms;
  color: var(--primary);
}

.technologies {
  margin: var(--small-margin) 0 var(--small-margin) 0
}

.title ~ p {
  margin-top: 2px;
}

.title-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-date ~ a {
  translate: 0 -6px;
}

.title-date > h3 {
  margin-left: var(--medium-margin);
  translate: 0 -6px;
}

.project-date {
  margin-bottom: 4px;
  color: var(--lightgray);
}

.project-description {
  display: flex;
  margin-bottom: 4px;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-row {
  display: flex;
}

.project-label {
  color: white;
  min-width: 120px;
  flex-shrink: 0;
}

.project-value {
  color: var(--darkgray);
  opacity: 80%;
}
