project-project > h1 {
  background-color: blue;
}

.project-project-wrapper {
  border: 2px var(--lightgray) solid;
  transition:
    border-color ease 400ms,
    padding ease 400ms;
  padding: 16px;
}

.project-project-wrapper:hover {
  border-color: var(--primary);
  padding: 16px;
}

.project-project-wrapper > #project-github-link,
.project-project-wrapper > #project-github-link h3:not(.project-date) {
  transition: color ease 400ms;
}

.project-project-wrapper:hover > #project-github-link,
.project-project-wrapper:hover > #project-github-link h3:not(.project-date) {
  color: var(--primary) !important;
}

.technologies {
  margin: var(--small-margin) 0 var(--small-margin) 0;
}

.title ~ p {
  margin-top: 2px;
}

.title-date > h3 {
  margin-left: var(--medium-margin);
}

.project-date {
  margin-bottom: 4px;
  color: var(--lightgray);
}

.project-description {
  display: flex;
  margin-bottom: 4px;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-row {
  display: flex;
}

.project-label {
  color: white;
  min-width: 120px;
  flex-shrink: 0;
  font-weight: bold;
}

.project-value {
  color: var(--darkgray);
  opacity: 80%;
  font-weight: bold;
}
