<div class="project-project-wrapper">
  <div class="wrapper">
    <div class="title">
      <div class="title-date">
        <h1>SUDOKU</h1>
        <h3 class="date">(08/25 - 09/25)</h3>
      </div>
      <a href=""><h3>GITHUB</h3></a>
    </div>
    <p class="description">UN GRANDISSIMO PROGETTO DI SUDOKU</p>
    <div class="technologies">
      <h3>TECHNOLOGIES: JS, HTML, CSS</h3>
    </div>
    <video src="/screenrecording-2025-12-11_15-50-39.mp4" type='video/mp4' autoplay loop muted></video>
  </div>
</div>
