project-project > h1 {
  background-color: blue;
}

.project-project-wrapper {
  transition: ease 400ms;
}

.title > a {
  transition: ease 400ms;
  color: var(--darkgray);
}

.title > a:hover {
  transition: ease 400ms;
  color: var(--lightgray);
}

.technologies {
  display: flex;
  justify-content: space-between;
  margin: var(--small-margin) 0 var(--small-margin) 0
}

.title ~ p {
  margin-top: 2px;
}

.title-date {
  display: flex;
  align-items: end;
}

.title-date ~ a {
  translate: 0 -6px;
}

.title-date > h3 {
  margin-left: var(--medium-margin);
  translate: 0 -6px;
}

.project-date {
  color: var(--lightgray);
}
