.title-wrapper {
  margin: var(--medium-margin) 0 var(--small-margin) 0;
}
.title-github-link {
  transition: color var(--transition-medium);
}

.title-github-link:hover {
  color: var(--primary);
  text-decoration: none;
}

.title-wrapper {
  color: var(--darkgray);
}

.title-wrapper p {
  margin-top: var(--small-margin);
  color: var(--lightgray);
  font-weight: bold;
}

.silver {
  font-weight: 900;
  color: var(--darkgray);
}

.cursor {
  font-weight: 400;
  background: none;
  -webkit-text-fill-color: var(--primary);
  opacity: 1;
}

.orange {
  text-decoration: underline !important;
  color: var(--primary) !important;
}
