<div class="title-wrapper">
  <h1>DAVIDE FORNELLI</h1>
  <div class="important-info">
    <h2>BARI ITALY</h3>
    <h2><a class="title-github-link" href="https://github.com/ddavidefornelli/" target="_blank" rel="noopener noreferrer">CV</a></h3>
    <h2><a class="title-github-link" href="https://github.com/ddavidefornelli/" target="_blank" rel="noopener noreferrer">GITHUB</a></h3>
  </div>
  <p>
    20 Y/O CS UNDERGRAD STUDENT, AND AN ASPIRING FULLSTACK DEV. <br>
    IN MY SPARE TIME I RUN.
  </p>
</div>
