<div class="title-wrapper">
  <div class="">
    <h1 class="silver">DAVIDE FORNELLI</h1>
    <h2>Bari, Italy</h2>
  </div>
  <p>
    CS student at
    <a
      class="orange"
      href="https://www.uniba.it/en"
      class="title-github-link"
      target="_blank"
      rel="noopener noreferrer"
      >@uniba</a
    >
  <!--
    and Fullstack Dev at
    <a
      class="orange"
      class="title-github-link"
      target="_blank"
      rel="noopener noreferrer"
      class="orange"
      href="https://www.deloitte.com/us/en.html"
      >@Deloitte</a
    >.<br />
--> 
    Running in my free time.
  </p>
</div>
