.title-wrapper {
  margin: var(--medium-margin) 0 var(--small-margin) 0;
}

.title-github-link {
  transition: ease 200ms;
}

.title-github-link:hover {
  color: var(--primary);
  text-decoration: none;
  transition: ease 200ms;
} 

.title-wrapper > h2 {
  color: var(--darkgray);
}

p {
  margin-top: var(--small-margin);
  color: var(--darkgray);
  font-weight: bold;
}

.silver {
  font-weight: 900;
  color: white;
}

.cursor {
  font-weight: 400;
  background: none;
  -webkit-text-fill-color: var(--primary);
  opacity: 1;
}

.cursor.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
