.title-wrapper {
  margin: var(--medium-margin) 0 var(--small-margin) 0;
}

.title-github-link {
  transition: ease 400ms;
}

.title-github-link:hover {
  color: var(--primary);
  text-decoration: none; 
  transition: ease 400ms;
} 

.title-wrapper > h2 {
  color: var(--darkgray);
}

p {
  margin-top: var(--small-margin);
  color: var(--darkgray);
  font-weight: bold;
}

.silver {
 font-weight: 900;
  background: linear-gradient(135deg, #C0C0C0 0%, #F5F5F5 25%, #808080 50%, #C0C0C0 75%, #F5F5F5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;}
