.title-wrapper {
  margin: var(--medium-margin) 0 var(--small-margin) 0;
}
.title-github-link {
  transition: ease 200ms;
}

.title-github-link:hover {
  color: var(--primary);
  text-decoration: none;
  transition: ease 200ms;
}

.title-wrapper {
  color: var(--darkgray);
}

p {
  margin-top: var(--small-margin);
  color: var(--darkgray);
  font-weight: bold;
}

.silver {
  font-weight: 900;
  color: white;
}

.cursor {
  font-weight: 400;
  background: none;
  -webkit-text-fill-color: var(--white);
  opacity: 1;
}

.orange {
  text-decoration: underline !important;
  color: var(--primary) !important;
}
