
.wrapper-footer {
  margin-top: var(--big-margin);
  margin-bottom: var(--small-margin);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper-footer > * {
  margin-top: var(--medium-margin);
}

.wrapper-footer > * {
  font-family: 'jetbrains-bold';
  color: var(--darkgray);
  text-decoration: none;

  transition: ease 200ms;
}

.wrapper-footer > *:hover {
  color: var(--primary);
  text-decoration: none;

  transition: ease 200ms;
} 
