custom-body > .title {
  margin-top: var(--big-margin);
}

custom-body > .title {
  align-items: end;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title > h3 > a {
  translate: 0 -3px;
  position: relative;
  z-index: 1;
}

#all-projects-link:hover {
  color: var(--primary);
  transition: ease 400ms;
}

#all-projects-link {
  transition: ease 400ms;
  color: black;
  
  position: relative;
  z-index: 1;
}

.projects-title {
  margin-top: var(--big-margin);
  color: white;
}
