<custom-title></custom-title>
<div class="title silver">
  <h1>PROJECTS</h1>
  <h3><a id="all-projects-link" href="/projects">ALL PROJECTS</a></h3>
</div>
<homepage-project 
  title="SUDOKU" 
  date="08/25 - 08/25" 
  description="A SIMPLE SUDOKU GAME PLAYED IN THE TERMINAL">
</homepage-project>
<homepage-project 
  title="CHESS GAME + ENGINE" 
  date="08/25 - 08/25" 
  description="A CHESS ENGINE FULLY BUILT IN JS">
</homepage-project>
<homepage-project 
  href="https://www.youtube.com/watch?v=5DeqL844pH0"
  title="NO SCREENSHOT" 
  date="08/25 - 08/25" 
  description="A WORD THAT CANT BE SCREENSHOTTED">
</homepage-project>
<div class="title silver">
  <h1>SKILLS</h1>
</div>
<p class="description" style="margin: var(--small-margin) 0 var(--small-margin) 0">LANGUAGES: HTML, JS, TS, CSS, C, C++</p>
<p class="description">LIBRARIES/FRAMEWORKS: REACT, TAILWIND, EXPRESS</p>
