custom-body > .title {
  margin-top: var(--big-margin);
}

custom-body > .title {
  align-items: end;
}

.title {

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title > h3 {
  translate: 0 -3px;
}

#all-projects-link:hover {
  color: var(--primary);
  transition: ease 400ms;
}

#all-projects-link {
  color: var(--darkgray);
  transition: ease 400ms;
}

