<custom-title></custom-title>
<div class="title silver">
  <h1>Projects</h1>
</div>
<homepage-project
  title="Sudoku"
  date="08/25 - 08/25"
  description="A simple sudoku game played in the terminal">
</homepage-project>
<homepage-project
  title="Chess Game + Engine"
  date="08/25 - 08/25"
  description="A chess engine fully built in JS">
</homepage-project>
<homepage-project
  href="https://www.youtube.com/watch?v=5DeqL844pH0"
  title="No Screenshot"
  date="08/25 - 08/25"
  description="A word that can't be screenshotted">
</homepage-project>
<div class="title silver">
  <h1>Skills</h1>
</div>
<p class="description" style="margin: var(--small-margin) 0 var(--small-margin) 0">Languages: HTML, JS, TS, CSS, C, C++</p>
<p class="description">Libraries/Frameworks: React, Tailwind, Express</p>
