custom-body > .title {
  margin-top: var(--big-margin);
}

custom-body > .title {
  align-items: end;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title > h3 > a {
  translate: 0 -3px;
  position: relative;
  z-index: 1;
}

#all-projects-link:hover {
  color: var(--primary);
}

#all-projects-link {
  transition: color var(--transition-medium);
  color: var(--primary);
  
  position: relative;
  z-index: 1;
}

.projects-title {
  margin-top: var(--big-margin);
  color: var(--darkgray);
}

custom-body > p.description {
  font-family: "jetbrains-bold";
  font-weight: 500;
  color: var(--darkgray);
}

.description .silver {
  color: var(--darkgray);
}

custom-body > homepage-project {
  display: block;
}
