<custom-title></custom-title>
<div class="projects-title">
  <h1>Projects</h1>
</div>
<homepage-project
  href="https://github.com/ddavidefornelli/sudoku"
  title="Sudoku"
  date="08/25 - 08/25"
  description="Sudoku game played in the terminal made in C">
</homepage-project>
<homepage-project
  href=""
  title="No Screenshot"
  date="08/25 - 08/25"
  description="A word that can't be screenshotted">
</homepage-project>
<homepage-project
  href="https://github.com/ddavidefornelli/bird-flock"
  title="Boid Flock"
  date="08/25 - 08/25"
  description="boids algorithm, with an interactive UI that enables the user to select the desired parameters">
</homepage-project>
<div class="projects-title">
  <h1>Skills</h1>
</div>
<p class="description" style="margin: var(--small-margin) 0 var(--small-margin) 0">Languages: HTML, JS, TS, CSS, C, C++</p>
<p class="description">Libraries/Frameworks: React, Tailwind, Express</p>
