.project-wrapper {
  margin: var(--small-margin) 0 var(--small-margin) 0;
}

.title {
  color: var(--black);
}

.date {
  color: var(--lightgray);
}

.description {
  color: var(--darkgray);
  font-weight: bold;
}

.title, .date, .description {
  transition: ease 400ms;
}

.project-wrapper > a:link, .project-wrapper > a:visited    { 
  color: inherit; 
  text-decoration: none; 
}

.project-wrapper:hover ,
.project-wrapper:hover .title,
.project-wrapper:hover .date,
.project-wrapper:hover .description {
  color: var(--lightgray);
}

.arrow {
  transition: ease 400ms;
}

.project-wrapper:hover > a > .top > .arrow {
  transition: ease 400ms;
  rotate: -45deg;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
