.project-wrapper {
  margin: var(--small-margin) 0 var(--small-margin) 0;
  transition: ease 800ms;
}

.project-wrapper:hover {
  translate: 20px;
  transition: ease 800ms;
}

.title {
  color: var(--darkgray);
}

.date {
  color: var(--lightgray);
}

.description {
  color: var(--darkgray);
  opacity: 60%;
}

.title, .date, .description {
  transition: ease 400ms;
}

.top {
  display: flex;
  justify-content: space-between;
}

